# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.py[cod]
*.pyo

# Ignore Jupyter Notebook checkpoints (if used)
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and environment files
*.log
.env
